@import formdata.RegistrationForm

@(form: Form[RegistrationForm])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@main("Form and form validations") {
    <h2>Registration form</h2>

    @helper.form(action = routes.RegistrationsController.create) {

        @helper.CSRF.formField
        @helper.inputText(form("name"))
        @helper.inputText(form("email"))
        @helper.inputPassword(form("password"))
        @helper.inputPassword(form("password-confirmation"))
        @helper.inputText(form("gender"))
        @helper.inputText(form("age"))
        <button type="submit"> Submit </button>
    }

}